<div class="container">
  <div class="card my-5">
    <div class="card-body">
      <div class="card-title">
        <h1>
          <%= @blog.title %>
        </h1>
        <div class="text-right">
          更新日<%= @blog.updated_at.strftime("%Y-%m-%d") %> 投稿者<%= @blog.user_id %>: <%= @blog.user_name %>
        </div>
      </div>
      <div class="card-text">
        <%= @blog.body %>
      </div>
    </div>
   </div>

 <%= link_to 'Edit', edit_blog_path(@blog) %> |
 <%= link_to 'Back', blogs_path %>
 
 <h3>コメント</h3>
 <% @blog.comments.each do |comment| %>
   <p>
     <%= comment.commenter %>: <%= comment.body %>
     <%= link_to '削除', [comment.blog, comment],
                :confirm => 'よろしいですか？',
                :method => :delete %>
   </p>
 <% end %>
 
 <h3>コメント書く </h3>
 <%= form_for([@blog, @blog.comments.build]) do |f| %>
   <div class = "field">
     <%= f.text_field :commenter %>
   </div>
   <div class="field">
     <%= f.text_area :body %>
   </div>
   <div class="actions">
     <%= f.submit %>
   </div>
  <% end %>

</div>